<!-- /**
 * @author Claudia Mastan
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <title>About</title>
     <% include ./partials/head %>
     <!-- CSS -->
    <link href="/css/about.css" type="text/css" rel="stylesheet">
</head>
<body>
<% include ./partials/navbar %>
    <div class="container main">
        <h1> Meeting Has Never <br> Been This Easy.</h1>
    </div>

    <div class="container text">
        <p>Designed for software developers, KnoCap 
        is an Alexa skill that allows for quick knowledge 
        capture during meeting so you will never wonder
        again how did you came up with that solution, 
        or what brilliant idea you just missed. 
        </p>
        <p>
        Just push your Echo button to catch 
        that flash of an idea. KnoCap will save what you 
        said and transcribe it. 
        </p>
        <p>
        Access your recordings and notes <a id="show_mtg" href="/show_all_mtg">here.</a>
        </p>
    </div>
    <img id="start" src="img/bg-4.png">
    
<% include ./partials/footer %>
</body>
</html>