/*Body styling*/
body
{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: white;
    background-image: url("img/bg-1.png");
    background-size: cover;
}

/*KnoCap logo*/
.navbar-brand img
{
    margin-left: 47%;
    height: 5rem;
}

/*Menu icon*/
.navbar i
{
    font-size: 5rem;
}

.dropdown-item
{
    font-size: 1.75rem;
}

.dropdown-menu
{
    
}

/*Area under navbar*/
.main
{
    padding-top: 15rem;
}

/*"Makes Meeting Easier"*/
.main h1
{
    font-size: 5rem;
}

/*description*/
.main p
{
    font-size: 2rem;
}

/*input fields container*/
.form-group
{
    padding-top: 2rem;
    margin-left: 24%;
    inline-size: 60rem;
}

/*password field*/
.form-group .password
{
    padding-top:  .5rem;
    padding-bottom: 3rem;
}

/*input fields internal setting*/
.form-group input
{
    font-size: 1.5rem;
    padding: 2.3rem;
}

/*Start a meeting button*/
.container button, .container button:hover
{  
    color: white;
    background-color:transparent;
}

.container button
{
    font-size: 1.75rem;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
}

.container button:hover
{
    size: 35%;
    font-size: 2rem;
}

/*sign up text*/
#signup
{
    padding-top: 3rem;
    font-size: 2rem;
}

/*link to sign up*/
#signup a
{
    text-decoration: none;
    font-weight: 400;
    color: white;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
}


#signup a:hover
{
    font-weight: none;
    text-decoration: underline;
    color: lightgray;
}