<!-- /**
 * @author Claudia Mastan
 * @author Hangzhi Pang
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <title>KnoCap</title>
     <% include ./partials/head %>
     <!-- CSS -->
    <link href="/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<% include ./partials/navbar %>
<div class="container main">
    <div class="container">
        <h1> Makes Meeting Easier</h1>
        <p>Note taking in a click of a button.</p>
        <form action="/create_mtg" method="post">
            <div class="form_tr">
                <input id="mtg_name" type="text" name="mtg_name" placeholder="Meeting Name">
            </div>
            <button id="start_mtg" type="submit" class="btn btn-default">Start the Meeting</button>
        </form> 

    </div>
</div>

<% include ./partials/footer %>
</body>
 </html>