<!-- /**
 * @author Hangzhi Pang
 */ -->

<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Meeting</title>

        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>    
        <div>
            <div>
                <h1>You are logged in as: Dummy User </h1>
            </div>
            <div>
                <form action="/create_mtg" method="post">
                    <label for="mtg_name">Enter a Meeting Name:</label>
                    <input id="mtg_name" type="text" name="mtg_name" value="" placeholder="Default Name"><br>
                    <button id="start_mtg" type="submit">Start the Meeting</button>
                </form> 
            </div>
        </div>
        
    </body>
    <footer>
    </footer>
</html>
