<!-- /**
 * @author KillerDucks <https://github.com/KillerDucks>
 */ -->

<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Meeting</title>
    </head>
    <body>    
        <div>
            <div>
                <h2>This is a new meeting with ID: <%= mtg_name %></h2>
            </div>
        </div>
        
    </body>
    <footer>
    </footer>
</html>
