<!-- /**
 * @author KillerDucks <https://github.com/KillerDucks>
 */ -->

<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Meeting</title>
        <link rel="stylesheet" type="text/css" href="/css/general.css">
    </head>
    <body>    
        <div>
            <div>
                <h2>This is a new meeting with Name: <%= mtg_name %></h2>
                <% var form_action_url = "/"+ mtg_id +"/create_audio" %>
                <form action=<%= form_action_url %> method="post">
                    <input style="display:none;" id="audio_url" type="text" name="audio_url" value='test/audio/url' >
                    <button type="submit" id="create_audio"/>Record Audio</button>
                </form>
            </div>
        </div>
        
    </body>
    <footer>
    </footer>
</html>
