<!-- /**
 * @author KillerDucks <https://github.com/KillerDucks>
 */ -->

<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>        
        <div class="jumbotron">
            <div class="container">
                <h1>Meeting <%= mtg_name %></h1>
                <p id="mtg_id">Meeting ID: <%= mtg_id %></p>
                <p id="mtg_id">Meeting Code: <%= mtg_code %></p>
                <p id="state" style="display: none;">Ready</p>
            </div>
        </div>
        
        
        <div class="container">
            <section class="main-controls">
                <canvas class="visualizer" height="60px"></canvas>
                <div id="buttons">
                      <button type="submit" class="record">Record</button>
                      <button class="stop">Stop</button>
                      <button type="submit" class="hold">Hold</button>
                      <button type="submit" class="clip30">Clip 30</button>
                      <button type="submit" class="clip60">Clip 60</button>
                </div>
              </section>
        
              <section class="sound-clips">
              <!-- sound clips appended here through javascript-->    
              </section>
            
        </div>
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        
        <!-- Our Code -->
        <script src="scripts/frontend.js"></script>
        <script src="scripts/audiobuffer-slice.js"></script>
        <script src="scripts/app.js"></script>

    </body>
</html>
