<!-- /**
 * @author Hangzhi Pang
 * @author Claudia Mastan
 */ -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Record Meeting</title>
        <% include ./partials/head %>
        <!-- CSS -->
        <link href="/css/record.css" type="text/css" rel="stylesheet">
    </head>
    <body>  
        <% include ./partials/navbar %>      
        
        <div class="container main">
            <h1>Meeting <%= mtg_name %></h1>
            <p id="mtg_id">Meeting ID: <%= mtg_id %></p>
            <p id="changeME">Meeting Code: <%= mtg_code %></p>
            <p id="state" style="display: none;">Ready</p>
        </div>
        
        
        
        <div class="container">
            <section class="main-controls">
                <canvas class="visualizer" height="60px"></canvas>
                <div class="container" id ="buttons">
                    <div id = "top">
                    <% var href = "/cancel_mtg/" + mtg_id %>
                    <span id= "rec">
                        <form action=<%= href %> method="post" style="display: inline-block;">
                                <button type="submit" class="record btn btn-default"
                                >Cancel Meeting</button>
                            </form>
                    </span>
                    <span id= "rec"><button type="submit" class="record btn btn-default">Record</button></span>
                    <span id= "stop"><button class="stop btn btn-default">Stop</button></span>
                    </div>
                    <div id="bottom">
                    <span id= "hold"><button type="submit" class="hold btn btn-default btn-circle btn-xl">Hold</button></span>
                    <span id= "clip30"><button type="submit" class="clip30 btn btn-default btn-circle btn-xl">Clip 30</button></span>
                    <span id= "clip60"><button type="submit" class="clip60 btn btn-default btn-circle btn-xl">Clip 60</button></span>
                    </div>
                </div>
              </section>
        
              <section class="sound-clips">
              <!-- sound clips appended here through javascript-->    
              </section>
            
        </div>
        
        <% include ./partials/footer %>
        
        <!-- Our Code -->
        <script src="scripts/frontend.js"></script>
        <script src="scripts/audiobuffer-slice.js"></script>
        <script src="scripts/app.js"></script>

    </body>
</html>
