/*Body styling*/
body
{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: white;
    background-image: url("img/bg-2.png");
    background-size: cover;
}

/*KnoCap logo*/
.navbar-brand img
{
    margin-left: 47%;
    height: 5rem;
}

/*Menu icon*/
.navbar i
{
    font-size: 5rem;
}

.dropdown-item
{
    font-size: 1.75rem;
}

.container button
{
    size: 100%;
    color: white;
}
