/*body base styling*/
body,html
{
    width: 100%;
}

body
{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-size: cover;
}

.navbar
{
    background-color: white;
}

.navbar-custom
{
    padding: 12px 10px;
}

.logo
{
    display: inline-block;
}

.navbar-collapse
{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -6px;
}
/*KnoCap logo*/
.logo img
{
    height: 5rem;   
}

/*Menu icon*/
.navbar i
{
    font-size: 5rem;
}

/*dropdown menu*/
.dropdown-item
{
    font-size: 1.75rem;
    padding: 2rem;
}
