/**
* @author Hangzhi Pang
*/
.meeting_info_items{
  display:flex;
  padding: 35px;
height: 47px;
align-items: center;
}
.meeting_info_outer:nth-child(2n) > .meeting_info_items{
	background-color: #fafafa;
}
.meeting_info_item{
  flex:5;
}
.meeting_info_btn{
  flex:1;
  margin:0;
}
.audio_urls, .text_urls{
  display:flex;
      padding-bottom: 10px;
      padding-top:10px;
}
.url_label{
  flex:1;
}
.url_item_outer{
  padding-left: 35px;
  display:flex;
  padding-right: 35px;
}
.url_item{
  flex:5;
}
.alert-warning{
  margin:0px !important;
}
.alert-outer{
  padding-top: 7px;
padding-bottom: 7px;
}
.url_content_outer{
  flex:5;
}
.url_delete > button {
  background-color: Transparent;
  color: #8a53a6;
  border:0;
  position: relative;
right: 10px;
}
#loader {
  border: 16px solid #e8d1ec;
  border-radius: 50%;
  border-top: 16px solid #963ea7;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 44%;
  width: 100px;
  height: 100px;
}
.url_content{
  color:#963ea7;
}
.url_content:hover{
  opacity:0.6;
    color:#963ea7;
  text-decoration: none;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#search-bar{
  width: 200px;
height: 36px;
}
.search-menu{
  display:flex;
  display: flex;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px;
}
.search-menu input{
      flex: 5;
          margin-right: 8px;

}
.search-menu select{
  flex:1;
}
