/**
* @author Hangzhi Pang
*/
.meeting_info_items{
  display:flex;
  padding: 35px;
height: 47px;
align-items: center;
}
.meeting_info_outer:nth-child(2n+1) > .meeting_info_items{
	background-color: #fafafa;
}
.meeting_info_item{
  flex:5;
}
.meeting_info_btn{
  flex:1;
  margin:0;
}
.audio_urls, .text_urls{
  display:flex;
      padding-bottom: 10px;
      padding-top:10px;
}
.url_label{
  flex:3;
}
.urls_content > .url_item{
  padding-left: 35px;
padding-right: 35px;
}
.alert-warning{
  margin:0px !important;
}
.alert-outer{
  padding-top: 7px;
padding-bottom: 7px;
}
