/*body base styling*/
body,html
{
    width: 100%;
}

body
{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-size: cover;
}

.navbar
{
    background-color: white;
}

/*KnoCap logo*/
.navbar-brand img
{
    margin-left: 10%;
    height: 5rem;
    
}

/*Menu icon*/
.navbar i
{
    font-size: 5rem;
}

/*dropdown menu*/
.dropdown-item
{
    font-size: 1.75rem;
    padding: 2rem;
}
