@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	margin: 0px;
	display: flex;
	font-family: 'Quicksand';
	border: 0px;
	padding-left: 5%;
	padding-right: 5%;
}
button {
	color: white;
    background-color: #9530a7;
    padding: 11px;
    border-radius: 19px;
   font-family : inherit;
}
button:hover{
	opacity: 0.5;	
	cursor: pointer;
}
input{
	border-radius: 7px;
    height: 25px;
    border: 1px solid #8a53a6;
}
th, td{
	text-align: left;
	/*white-space: nowrap;*/
	padding-left: 26px;
    padding-top: 9px;
}
tr:nth-child(even) {background-color: #f2f2f2;}