/* @author Claudia Mastan */


@import 'base.css';

.main
{
    padding-top: 20rem;
}

/*Makes Meeting Easier*/
.main h1
{
    font-size: 5rem;
}

/*note taking in a click of a button*/
.main p
{
    font-weight: 300;
    font-size: 2rem;
}

/*input box styling*/
#mtg_name
{
    height: 50px;
    width: 350px;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #111045;
    padding-left: 1.5rem;
}

/*inside the input box styling*/
.form-group input
{
    font-size: 1.5rem;
    padding: 2.3rem;
}

/*Button styling*/
.container button
{
    padding: 1.5rem 3rem;
    font-size: 1.75rem;
    color: white;
    background-color: transparent;
    transition: 0.5s;
    border-radius: 1rem;
}

/*Button on hover*/
.container button:hover
{
    background-color: transparent;
    size: 45%;
    color: white;
    font-size: 1.85rem;
}

/*Button ripple effect*/
container .button:after {
    content: "";
    background: transparent;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

container .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/*only if view meeting button not omitted*/
.main #strtmt
{
    padding-bottom: 1.5rem;
}