@import 'base.css';


.main
{
    padding-top: 16rem;
}

.main h1
{
    font-size: 6rem;
}

.main p
{
    margin-bottom: -.5rem;
    font-size: 2rem;
    font-weight: 300;
}

.visualizer
{
    background-color: transparent;
    padding: 4rem 0 4rem 0;
}


button
{
  border-radius: 5px;
  font-size: 1.75rem;
  background-color: transparent;
}

.list-inline-item
{
    padding-right: 15rem;
}